---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import UrgentHelp from '../components/UrgentHelp.astro';
import Audiences from '../components/Audiences.astro';
import AIThreat from '../components/AIThreat.astro';
import Services from '../components/Services.astro';
import Process from '../components/Process.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Navbar />
	<main>
		<Hero />
		<UrgentHelp />
		<Audiences />
		<AIThreat />
		<Services />
		<Process />
		<Contact />
	</main>
	<Footer />
</Layout>
